<div class="container">
  <h3>Register a restaurant</h3>
  <div *ngFor="let e of err">
    <p class="error">{{ e }}</p>
  </div>
  
  <form (submit)="create()">
    <div class="form-group">
      <label>Restaurant name:</label>
      <input type="text" class="form-control" name="newRest.name" [(ngModel)]="newRest.name" placeholder="">
    </div>
    <div class="form-group">
      <label>Cuisine:</label>
      <input type="text" class="form-control" name="newRest.cuisine" [(ngModel)]="newRest.cuisine" placeholder="">
    </div>
    <div class="form-group">
      <input class="btn yellow" type="submit" value="Register">
      <a class="nonNameLink" routerLink="">Cancel</a>
    </div>
  </form>
</div>